*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}
header{
    width: 100%;
    height: 60px;
    /* background-color: blue; */
    /* border: solid 3px black; */
}

header nav{
    display: flex; /*Se utilizar para mover el bloque en general y esto incluye lo que tenga por dentro*/
    height: inherit;/* Hereda la altura de su padre header*/
    justify-content: flex-end;
    
}

header nav .nav-right-section{
    width: 250px;
    display: flex; /*En este caso lo utilizaremos para posicionar los elementos del nav*/
    list-style: none;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}

nav .nav-right-section a {
    margin-right: 10px;
    color: black;
}

nav .nav-right-section .menu-icon{
    background-image: url(/img/bars-solid.svg);
    background-repeat: no-repeat;
    background-position: center; /*Posicionar el icono*/
    background-size: contain; /*Paara que se aproxime al tamaño de mi contenedor*/
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

/* Sección principal */

main {
    /* border: 2px solid blue; */
    margin-top: 150px;
    text-align: center;
    max-width: 100%;
}
main .main-logo{
    /* border: 2px solid rgb(72, 72, 82); */
    width: 980px;
    height: 170px;
    margin: 0 auto; /*Nos centra*/
    margin-bottom: 35px;
}

main .main-logo img{
    margin: 0 auto;
    /* max-height: 100%;
    max-width: 100%; */
    /* object-fit: contain; */
    /* height: 92; */
    /* object-position: center bottom; */
    
}

/* Sección input */

main .main-input{
    width: 582px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: inherit;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container input{
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
}